.DraftEditor-root {
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  padding: 20px;
}

.rdw-emoji-modal {
  left: -225px;
}

.rdw-embedded-modal {
  left: -180px;
}

.rdw-link-modal {
  left: -90px;
}
